body {
  /* Make sure content starts below navbar */
  padding-top: 5rem;
}

.song-card-artist {
  font-size: .8rem;
}

.song-card-title {
  font-size: .7rem;
}

.song-card-text {
  padding: .1rem .2rem;
}

.song-card {
  padding: .2rem;
}

.song-collection {
  margin: 0;
}

.main-song-text {
  padding: .1rem .2rem;
}

.jumbotron {
  padding: .4rem;
}