{% extends 'videos/base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div id="carouselExampleIndicators" class="jumbotron carousel carousel-fade slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            {% for video in video_list|slice:":3" %}
                <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                    <a href="{% url 'videos:video_detail' video.id %}">
                        <img class="d-block w-100"
                             src="https://img.youtube.com/vi/{{ video.youtubeId }}/maxresdefault.jpg"
                             alt="{{ video.artist }}: {{ video.title }}">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>{{ video.title }}</h5>
                            <p>{{ video.artist }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <h4>Songs</h4>
    <div class="row song-collection">
        {% for video in video_list %}
            <div class="col-4 col-md-3 col-lg-2 song-card">
                <a href="{% url 'videos:video_detail' video.id %}">
                    <div class="card">
                        <img class="card-img-top" src="https://img.youtube.com/vi/{{ video.youtubeId }}/mqdefault.jpg"
                             alt="{{ video.artist }}: {{ video.title }}">
                        <div class="card-body song-card-text">
                            <h5 class="card-title song-card-artist">{{ video.artist }}</h5>
                            <p class="card-subtitle song-card-title">{{ video.title }}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
