{% extends 'videos/base.html' %}

{% block title %}
    {{ video.artist }}: {{ video.title }}
{% endblock %}

{% block content %}
    <div class="card">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item"
                    src="https://www.youtube-nocookie.com/embed/{{ video.youtubeId }}?rel=0&amp;modestbranding=1"
                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="card-body main-song-text">
            <h5 class="card-title">
                {{ video.artist }}: {{ video.title }}
            </h5>
            <p class="card-text">
                {{ video.description|linebreaksbr }}
            </p>
        </div>
    </div>

    <h4>More videos</h4>
    <div class="row song-collection">
        {% for v in related_videos %}
            <div class="col-4 col-md-3 col-lg-2 song-card">
                <div class="card">
                    <a href="{% url 'videos:video_detail' v.id %}">
                        <img class="card-img-top" src="https://img.youtube.com/vi/{{ v.youtubeId }}/mqdefault.jpg"
                             alt="{{ v.artist }}: {{ v.title }}">
                        <div class="card-body song-card-text">
                            <h5 class="card-title song-card-artist">{{ v.artist }}</h5>
                            <p class="card-subtitle song-card-title">{{ v.title }}</p>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
